@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-y: scroll;
}

header {
  display: flex;
  justify-content: space-between;
  background-image: url(../Multimedios/NLC-2020-Tue-Evening-97-1280x705.jpg);
  background-size: auto;
  color: white;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 5px;
}
header .logo h1 {
  align-items: center;
  padding: 5px;
}
header .logo img {
  height: 80px;
  width: 80px;
  border: solid white;
  border-radius: 10px;
}
header .menu-navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .menu-navegacion a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: auto;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
header .menu-navegacion a:hover {
  color: rgb(160, 239, 251);
}

@media (max-width: 720px) {
  header {
    flex-direction: column;
    max-width: 100%;
    padding: 1px;
  }
}
#main .imagen img {
  margin: 20px 0px 0px 0px;
  width: 100%;
  height: 250px;
}
#main .cajas {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  justify-content: space-around;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(216, 216, 216) 50%, rgba(255, 255, 255, 0.9336776947) 100%);
}
#main .cajas div {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 65px;
  justify-content: space-around;
  text-align: center;
}
#main .cajas div h1 {
  font-size: 30px;
  font-family: sans-serif;
  color: #090979;
}
#main .cajas div p {
  font-size: 20px;
  font-family: sans-serif;
}
#main .cajas div .btn {
  align-self: center;
  border-color: transparent;
  justify-self: flex-end;
  border-radius: 5px;
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(42, 122, 132) 100%);
  text-decoration: none;
  padding: 2px;
}
#main .cajas div .btn a {
  text-decoration: none;
  color: white;
}
#main .cajas div .btn a:hover {
  color: rgba(205, 205, 205, 0.979);
}
#main .galeria {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  margin: auto;
  justify-content: space-around;
  align-content: space-between;
  width: auto;
  height: 500px;
}
#main .galeria img {
  height: 400px;
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: space-between;
}

@media (max-width: 720px) {
  #main .galeria {
    flex-direction: column;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
  }
  #main .galeria img {
    width: 50%;
  }
}
footer {
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(42, 122, 132) 100%);
}
footer .informacion {
  display: flex;
  justify-content: space-around;
  padding: 10px 30px 10px 30px;
  margin: 30px 40px;
  border: 20px 50px;
}
footer .informacion h2 {
  margin: 20px 70px 20px 65px;
  border: solid white;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: white;
  padding: 0px 20px 0px 20px;
}
footer .informacion p {
  color: white;
  font-family: sans-serif;
  padding: 5px 0px;
  text-align: center;
  font-size: 20px;
}
footer .iconos {
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
  padding: 5px 0px;
}
footer .iconos a img {
  width: 50px;
  height: 50px;
}

@media (max-width: 720px) {
  footer .informacion {
    flex-direction: column;
    padding: 0%;
    margin: 0%;
    text-align: center;
  }
  footer .informacion h2 {
    padding: 0%;
    margin: 0%;
  }
  footer .informacion h2:hover {
    color: red;
  }
}
div h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5px;
  border: solid black;
  border-radius: 5px;
  font-family: sans-serif;
  padding-left: 5px;
}
@media (max-width: 720px) {
  div div h2 {
    display: flex;
    justify-content: center;
  }
}
div .cajas-grupos {
  display: flex;
  flex-direction: column;
}
div .info-grupos {
  display: flex;
  align-items: center;
  font-size: 20px;
}
div .info-grupos p {
  align-content: space-between;
  margin: 50px;
}
div .info-grupos img {
  background-color: wheat;
  margin: 10px 10px 10px 5px;
  width: 200px;
  height: 200px;
}

@media (max-width: 720px) {
  .info-grupos {
    flex-direction: column;
    justify-content: center;
  }
  .info-grupos p {
    align-items: center;
    max-width: 50%;
    margin: auto;
  }
  .info-grupos img {
    width: 50%;
  }
}
div a {
  display: flex;
  justify-content: flex-end;
  padding: 1px 43px;
  margin: 2px;
}

div .caja-mensajes {
  display: flex;
  flex-direction: row;
}
@media (max-width: 720px) {
  div .caja-mensajes {
    overflow: scroll;
  }
}
div .videos {
  margin: 5px;
}

div .caja-ministerios {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div .caja-ministerios img {
  display: flex;
  width: 100%;
  height: 350px;
}
div .fotos-ministerios img {
  padding: 5px;
  margin: auto;
}
@media (max-width: 720px) {
  div .caja-ministerios {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  div .fotos-ministerios img {
    width: 100%;
  }
}
div .info-ministerios {
  display: flex;
}
div .info-ministerios p {
  margin: 20px;
  text-align: justify;
  font-family: sans-serif;
  font-size: 15;
}

div .caja-nosotros {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div .caja-nosotros img {
  display: flex;
  width: 100%;
  height: 350px;
}
div .fotos-nosotros img {
  padding: 5px;
}
@media (max-width: 720px) {
  div .caja-nosotros {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  div .fotos-nosotros img {
    width: 100%;
  }
}

.informacion-iglesia {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  padding: 15px;
}

.form-igl form {
  border: solid black;
  background-color: rgba(241, 241, 241, 0.514);
  border-radius: 5px;
  display: block;
  padding: 10px;
}
.form-igl form p {
  padding: 10px;
}

.volver a {
  text-decoration: none;
  color: black;
}
.volver a:hover {
  color: blue;
}

@media (max-width: 720px) {
  .informacion-iglesia {
    flex-direction: column;
  }
  .form-igl form {
    margin: 10px;
  }
}
.nuestros-mensajes {
  margin: 15px 950px 0px 5px;
}

.grupos-pequeños {
  margin: 15px 950px 0px 5px;
}

.ministerios {
  margin: 15px 950px 0px 5px;
}

.nosotros {
  margin: 15px 950px 0px 5px;
}/*# sourceMappingURL=main.css.map */